@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Zilla+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: none;
  scroll-behavior: smooth;
}

:root {
  --light-green: #4ef037;
  --light-purple: #8002f5;

  --hometitle: "Nanum Myeongjo", serif;
  --body-font: "Roboto Flex", sans-serif;
  --main-topic: "Kanit", sans-serif;
  --companyname-font: "Rubik Wet Paint", cursive;
}

.scrolltop {
  position: fixed;
  bottom: 20px;
  right: 10px;
  font-size: 35px;
  background-color: white;
  border-radius: 50%;
  color: darkblue;
  cursor: pointer;
  z-index: 1000;
  /* z-index: 2000; */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-purple);
  border-radius: 50px;
}
